@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
  color: white;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.hero-bg {
  background: radial-gradient(circle at center, #111 0%, #000 60%);
}

.ease-expo {
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}